# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.production.local

# Misc
.DS_Store

# TypeScript
*.tsbuildinfo

# Local source assets (not needed for build)
/images/

# Generated intermediate favicon source
/public/favicon-square.png
